#bleu{
background-color:#0000FF;
color:#FFF;
font-size:larger;
position:absolute;
width:200px;
height:200px;
left:200px;
top:100px;
}

#jaune{
background-color:#FFFF00;
color:#FFF;
font-size:larger;
position:absolute;
width:200px;
height:200px;
left:600px;
top:100px;
}

#magenta{
background-color:#FF00FF;
color:#FFF;
font-size:larger;
position:absolute;
width:200px;
height:200px;
left:200px;
top:400px;
}

#verte{
background-color:#00FF00;
color:#FFF;
font-size:larger;
position:absolute;
width:200px;
height:200px;
left:600px;
top:400px;
}